<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: Survey Page" />
		<%= require('../page/meta.html').default %> 
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>
		<%= require('./survey.html').default %> 
	</body>
	<%= require('../page/sw.html').default %> 
	<%= require('./survey-js.html').default %>
</html>
