<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>About Me - Chao Zou</title>
		<meta name="Description" content="Frontend Engineer - Web Framework Developer - UI/UX Designer" />
		<%= require('../page/meta.html').default %> 
	</head>
	<body id="body" data-role="loadimage">
		<%= require('../page/header.html').default %>
		<%= require('./about-welcome.html').default %> 
		<%= require('./about-nav.html').default %> 
		<%= require('./about-experience.html').default %> 
		<%= require('./about-feature.html').default %> 
		<%= require('./about-skill.html').default %> 
		<%= require('./about-history.html').default %> 
	</body>
	<%= require('../page/sw.html').default %> 
</html>
