<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>About Me - Chao Zou</title>
		<meta name="Description" content="Frontend Engineer - Web Framework Developer - UI/UX Designer" />
		<%= require('../page/meta.html').default %> 
		<link
			rel="preload"
			href="<%= require('../assets/fonts/fonticon.woff') %>"
			as="font"
			type="font/woff"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-Regular.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-thin.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-light.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
	</head>
	<body id="body" data-cui="loadimage">
		<%= require('../page/header.html').default %>
		<%= require('./about-welcome.html').default %> 
		<%= require('./about-nav.html').default %> 
		<%= require('./about-feature.html').default %> 
		<%= require('./about-skill.html').default %> 
		<%= require('./about-description.html').default %> 
		<%= require('./about-experience.html').default %> 
	</body>
	<%= require('../page/sw.html').default %> 
</html>
