<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: Document" />
		<%= require('../page/meta.html').default %> 
		<link
			rel="preload"
			href="<%= require('../assets/fonts/fonticon.woff') %>"
			as="font"
			type="font/woff"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-Regular.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-thin.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="<%= require('../assets/fonts/Roboto-light.woff2') %>"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>
		<div class="section welcome">
			<div class="panel">
				<h1 class="h3">Welcome to CUI</h1>
				<div>
					CUI is high performance Web Page UI framework, which focus
					on made a standard UI/UX solution with consistent
					components. The interface of this UI framework are only html
					attruibte and class name. CUI is
					<b>using css to defensive most of UI status</b>, and
					<b> will only offensive with js when it's nessary</b>. it's
					seo friendly, even without js, the delivered page could have
					pefect FCP which exactly same before actived by JS.
				</div>
			</div>
			<div class="bg"></div>
		</div>
		
		<%= require('./tpl-nav.html').default %> 
		<%= require('./tpl-color.html').default %> 
		<%= require('./tpl-typograph.html').default %> 
		<%= require('./tpl-button.html').default %>
		<%= require('./plugin-tip.html').default %>
		<%= require('./tpl-form.html').default %> 
		<%= require('./tpl-textbox.html').default %> 
		<%= require('./tpl-skeleton.html').default %> 
		<%= require('./plugin-shifter.html').default %> 
		<%= require('./plugin-view.html').default %> 
		<%= require('./plugin-dialog.html').default %> 
		<%= require('./plugin-collapse.html').default %> 
		<%= require('./plugin-tabs.html').default %> 
		<%= require('./plugin-gridtable.html').default %> 
		<%= require('./plugin-rangeslider.html').default %> 
		<%= require('./plugin-datatable.html').default %> 
		<%= require('./plugin-touch.html').default %> 
		<%= require('./plugin-loadimage.html').default %>
	</body>
	<%= require('../page/sw.html').default %> 
</html>
