<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: Document" />
		<%= require('../page/meta.html').default %> 
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>
		<%= require('./tpl-welcome.html').default %> 
		<%= require('./tpl-nav.html').default %> 
		<%= require('./tpl-color.html').default %> 
		<%= require('./tpl-typograph.html').default %> 
		<%= require('./tpl-button.html').default %>
		<%= require('./plugin-tip.html').default %>
		<%= require('./tpl-form.html').default %> 
		<%= require('./tpl-textbox.html').default %> 
		<%= require('./tpl-skeleton.html').default %> 
		<%= require('./plugin-carousel.html').default %> 
		<%= require('./plugin-view.html').default %> 
		<%= require('./plugin-dialog.html').default %> 
		<%= require('./plugin-collapse.html').default %> 
		<%= require('./plugin-tabs.html').default %> 
		<%= require('./plugin-gridtable.html').default %> 
		<%= require('./plugin-rangeslider.html').default %> 
		<%= require('./plugin-datatable.html').default %> 
		<%= require('./plugin-touch.html').default %> 
		<%= require('./plugin-loadimage.html').default %>
	</body>
	<%= require('../page/sw.html').default %> 
</html>
