<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: Document" />
		<%= require('../page/meta.html').default %> 
		<%= require('./doc-css.html').default %>
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>
		<%= require('./doc-welcome.html').default %> 
		<%= require('./doc-nav.html').default %> 
		<%= require('./doc-color.html').default %> 
		<%= require('./doc-typograph.html').default %> 
		<%= require('./doc-button.html').default %>
		<%= require('./doc-tip.html').default %>
		<%= require('./doc-form.html').default %> 
		<%= require('./doc-textbox.html').default %> 
		<%= require('./doc-skeleton.html').default %> 
		<%= require('./doc-carousel.html').default %> 
		<%= require('./doc-view.html').default %> 
		<%= require('./doc-dialog.html').default %> 
		<%= require('./doc-collapse.html').default %> 
		<%= require('./doc-tabs.html').default %> 
		<%= require('./doc-gridtable.html').default %> 
		<%= require('./doc-rangeslider.html').default %> 
		<%= require('./doc-datatable.html').default %> 
		<%= require('./doc-touch.html').default %> 
		<%= require('./doc-loadimage.html').default %>
		<%= require('./doc-flow.html').default %>
	</body>
	<%= require('../page/sw.html').default %> 
	<%= require('./doc-js.html').default %>
</html>
