<!DOCTYPE html>
<html lang="en" id="html">
	<head>
		<title>jQuery CUI</title>
		<meta name="Description" content="Author: Conjee Zou, UI solution, Category: List Page, Search Page" />
		<%= require('../page/meta.html').default %> 
		<style>
			html{
			}
			body{
				--color-major: #241505;
				--color-major-l1: #ffd3a1;
				background-color: var(--color-major-l1);
			}
			.flow > ul > li {
				border-radius: 2px;	
				margin: 2px;
				border: 1px solid var(--color-front-l1);
			}
			.flow-item{
				cursor: pointer;
				display: block;
				position: relative;
				overflow: hidden;
			}
			.flow-item.flow-loaded{
				height: auto;
			}
			.flow-item img{
				transition: opacity .2s;
				width: 100%;
				height: auto;
				display: block;
				opacity: .2;
				min-height:200px;
			}
			.flow-item:hover img{
				opacity: 1;
			}
			.flow-item > div{
				transition: transform .2s .3s;
				padding: .5rem;
				background-color: var(--color-major);
				color: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				display: block;
				transform: translateY(0);
			}
			.flow-item:hover > div{
				transform: translateY(100%);
			}
			li:not(.flow-loaded) img{
				opacity: 0;
			}
		</style>
	</head>
	<body id="body">
		<%= require('../page/header.html').default %>
		<%= require('./warsys.html').default %> 
	</body>
	<%= require('../page/sw.html').default %> 
	<%= require('./warsys-js.html').default %>
</html>
